

.profile {
    width: 1000px;
    background-color: aliceblue;
    border: 1px solid #afb1b8;
  }
  
  .description {
    background-color: beige;
    text-align: center;
    padding: 30px;
  }
  
  .name {
    font-size: 60px;
    font-weight: bold;
  }
  
  .stats {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
    border-top: 1px solid #afb1b8;
  }
  
  .stats-li {
    display: block;
    width: 300px;
    line-height: 1;
    padding: 50px;
    border-left: 1px solid #afb1b8;
  }
  
  .quantity {
    display: block;
    font-size: 50px;
    font-weight: bold;
    margin-top: 30px;
  }
  