.transaction-history {
  width: 800px;
}

thead tr {
    background-color:aqua;
    color: white;
}

table {
  table-layout: fixed;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border: 3px solid purple;
}

th,
td {
  border: 1px solid #ccc;
  padding: 20px;
  text-transform: capitalize;
  font-size: 30px;
}

tbody tr:nth-child(even) {
  background-color: lightgrey;
}
table {
  background-color: white;
}
